<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Maulana | Profile</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar">
        <div class="navbar-wrapper">
          <div class="navbar-logo">
            <h1 class="navbar-logo-text">{{ name }}</h1>
          </div>
        </div>
        <div class="navbar-wrapper">
          <ul v-for="(nav, i) in navbar" :key="i" class="navbar-text">
            <li class="navbar-link">{{nav.name}}</li>
          </ul>
        </div>
        <span class="menu">
          <svg
            width="30"
            height="30"
            viewBox="0 0 7.9374998 7.9375002"
            version="1.1"
            id="svg5"
            inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)"
            sodipodi:docname="draw.svg"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
              <rect
                style="fill: #ffffff; stroke-width: 1.62405"
                id="rect846"
                width="7.4534273"
                height="1.41619"
                x="0.21103548"
                y="0.45586315"
                ry="0.42708179"
              />
              <rect
                style="fill: #ffffff; stroke-width: 1.62405"
                id="rect1210"
                width="7.4534273"
                height="1.41619"
                x="0.21103548"
                y="3.09887"
                ry="0.42708179"
              />
              <rect
                style="fill: #ffffff; stroke-width: 1.62405"
                id="rect1212"
                width="7.4534273"
                height="1.41619"
                x="0.21103548"
                y="5.7460155"
                ry="0.42708179"
              />
            </g>
          </svg>
        </span>
      </nav>
      <div class="navbar-wrapper-mobile">
        <ul v-for="(nav, i) in navbar" :key="i" class="navbar-text-mobile">
          <li class="navbar-link-mobile">{{nav.name}}</li>
        </ul>
      </div>
      <header class="header">
        <div class="header-banner">
          <div class="header-banner-text-wrapper">
            <h1 class="header-banner-text">
              {{welcome}}
              <br />
              <span class="header-banner-sub-text">
                {{greeting}} <span class="name"> {{name}} </span> {{role}}</span
              >
            </h1>
            <div class="header-banner-button-wrapper">
              <button class="header-button button-primary">Download CV</button>
              <button class="header-button button-secondary">GitHub</button>
            </div>
          </div>
          <div class="header-banner-images-wrapper">
            <img
              class="header-banner-images"
              src="./assets/img/me.jpg"
              alt=""
            />
          </div>
        </div>
      </header>
      <main class="main"></main>
      <footer class="footter"></footer>
    </div>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
