.header {
  display: flex;
  width: 100%;
}

.header-banner {
  display: flex;
  width: clamp(200px, 100%, 2000px);
  justify-content: space-between;
  align-items: start;
  padding-top: 4rem;
  padding-right: 6rem;
  padding-left: 6rem;
}

.header-banner-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.header-banner-text {
  color: black;
  font-size: clamp(30px, 40px, 60px);
  animation-name: header-text;
  animation-duration: 20s;
}

@keyframes header-text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}

.header-banner-sub-text {
  color: var(--red-100);
  font-size: clamp(12px, 16px, 30px);
}

.name {
  color: var(--blue-200);
}

.repository {
  font-size: 14px;
}

@keyframes header-images {
  0% {
    margin-top: 30px;
  }

  50% {
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 50;
  }
  100% {
    margin-bottom: 50px;
    margin-top: 30px;
    opacity: 100;
  }
}

.header-banner-images {
  border-radius: 6%;
  filter: drop-shadow(30px 10px 4px #0000);
  animation-name: header-images;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: clamp(200px, 800px, 800px);
}

.header-banner-button-wrapper {
  display: flex;
  justify-items: center;
  grid-row: 2;
  gap: 15px;
}

.header-button {
  display: flex;
  justify-items: start;
  align-items: center;
  border: none;
  color: white;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  font-synthesis: weight;
  border-radius: 10px;
  padding-right: 1rem;
  padding-left: 1rem;
  width: auto;
  height: clamp(40px, 60px, 80px);
  background-color: var(--red-100);
}

.button-secondary {
  background-color: var(--blue-100);
}
